:root{
    --background: 0 0% 100%;
    --color1: 25 93% 70%; //orange
    --color2: 51 90% 70%; //yellow
    --color3: 35 90% 70%; //brighter orange
    --button-color: 60 96% 79%; //brighter yellow
    --rem: 16px;
    --gradient-background: linear-gradient(135deg,
        hsl(var(--color1)),
        hsl(var(--color2)),
        hsl(var(--color3))
    );
    --main-color: 289 25% 15%;
    --color-for-dark-bg: 289 25% 90%;
    font-size: 16px;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}
*, ::after, ::before{
    margin: 0;
    color: hsl(var(--main-color));
    text-decoration: none;
}
body {
    background-color: hsl(var(--background));
    transition: opacity ease-in 0.2s;
    width: 100vw;
    overflow-x: hidden;
}

/* text */

@font-face {
    font-family: Tartuffo;
    src: url('../fonts/Tartuffo_Trial-Regular-BF643371db1355b.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
.regular{
    font-size: 1.125rem;
}
.small{
    font-size: .875rem;
    opacity: 70%;
    font-weight: 500;
}
.caption{
    font-size: 1.5rem;
    opacity: 70%;
}
h2{
    font-size: 2rem;
}
h1{
    font-size: 4.5rem;
    font-family: Tartuffo, serif;
    font-weight: 400;
}

/* background */
div.background{position: fixed; z-index: -1;}
section{
    background: var(--gradient-background);
    top: 0;
    left: 0;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vw;
    border-radius: 100vw;
    position: absolute;
    filter: blur(0vw);
    transform: scale(2) rotate(0deg);
    transition: all 6s ease-in-out;
}

section.top{animation: bgMove 10s ease-in-out infinite alternate, bgScRot 30s ease-in-out infinite alternate}
section.middle{animation: bgMove 20s ease-in-out infinite alternate, bgScRot 20s ease-in-out infinite alternate, bgBlur 8s ease-in-out infinite alternate}
section.bottom{animation: bgMove 25s ease-in-out infinite alternate, bgScRot 15s ease-in-out infinite alternate, bgBlur 20s ease-in-out infinite alternate}

@keyframes bgMove {
    0% {background-size: 100% 100%;}
    33% {background-size: 200% 200%}
    66% {background-size: 150% 150%}
}
@keyframes bgBlur {
    0% {filter: blur(1vw);}
    10% {filter: blur(0.5vw);}
    30% {filter: blur(10vw);}
    50% {filter: blur(4vw);}
    80% {filter: blur(0.2vw);}
}
@keyframes bgScRot {
    0% {transform: rotate(0deg) scale(2);}
    10% {transform: rotate(-20deg) scale(3);}
    30% {transform: rotate(40deg) scale(1.6);}
    50% {transform: rotate(170deg) scale(4);}
    80% {transform: rotate(220deg) scale(3.3);}
}

/* content */
div.content{
    max-width: 80rem;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10vw;
    font-size: 1.125rem;
    margin-top: 2.5rem;
    width: 100%;
    img{
        height: 3rem;
    }
    div{
        display: grid;
        grid-auto-flow: column;
        gap: 3rem;
    }
    div.helping-links{
        text-align: end;
        align-items: center;
    }
    a.login{
        border: .1rem solid hsl(var(--main-color));
        border-radius: 2rem;
        width: 5rem;
        text-align: center;
        padding: .4rem .1rem;
        font-weight: 500;
    }
    button{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 1.125rem;
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    button:hover{
        cursor: pointer;
    }
}

div.welcome-window{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    div.greeting{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.insights{
        margin-top: 5vh;
        display: grid;
        //grid-auto-flow: column;
        grid-template-columns: repeat(4, auto);
        gap: 2vw;
        div{display: flex; align-items: center; gap: 0.5rem;}
    }
    .caption{
        margin-top: 5vh;
        width: 80%;
    }
}

div.buttons{
    margin-top: 5vh;
    display: flex;
    gap: 1vw;
    button{
        border-radius: 3vw;
        padding: 1vw 2vw;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: .05rem;
        cursor: pointer;
        transition: background-color 0.3s ease-in;
        p{transition: color 0.3s ease-in;}
        svg{transition: stroke 0.3s ease-in;}
    }
    button.try{
        p{color: hsl(var(--button-color)); font-size: 1.125rem; font-weight: 400};
        background-color: hsl(var(--main-color));
    }
    button.try:hover{
        background-color: hsl(var(--main-color) / .9);
    }
    button.chat{
        p{font-size: 1.125rem; font-weight: 400};
        background: none;
        border: .1rem solid hsl(var(--main-color));
        font-weight: 400;
        svg{margin-right: 1vw;}
    }
    button.chat:hover{
        background-color: black;
        p{color: white};
        svg{stroke: white;}
    }
}

/*slider: template*/
div.reports{
    margin-top: 5vh;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    div#reportContent{
        margin-top: 5vh;
        background-color: white;
        filter: drop-shadow(.2vw .1vw .3vw rgba(0,0,0,0.1));
        border-radius: .5vw;
        text-align: left;
    }
    div.report-wrapper{
        padding: 4vh 2vw;
        p.date{margin-top: 1vh;  color: hsl(var(--main-color) / 0.7);}
        p.analysis-caption{
            background-color: hsl(var(--main-color) / 0.2);
            margin-top: 1vh;
            width: fit-content;
            padding: .3vh .7vw;
            border-radius: 1vw;
            font-weight: 400;
        }
        p.list-title{
            font-weight: 700;
        }
        ul{
            padding-left: 1.125rem;
            li{
                margin-top: 3vh;
                line-height: 2.5vh;
            }
        }
        a#openAnalysis{
            margin-top: 3vh;
            cursor: pointer;
            border-radius: 2vw;
            width: fit-content;
            padding: 1vh 2vw;
            justify-content: center;
            align-items: center;
            display: flex;
            border: .1rem solid hsl(var(--main-color));
            transition: all .3s ease-in-out;
            svg{margin-right: 1vw;}
        }
        a#openAnalysis:hover{background-color: hsl(var(--main-color) / 0.2);}
    }
}
div.report-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .4vw;
    div.tab{
        border-radius: .3vw;
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all ease-in-out .3s;
        padding: .5vw 3vw .5vw 1vw;
        text-align:left;
        line-height: 1.2vw;
        h1,p{font-family: Inter, ui-sans-serif, system-ui, sans-serif;}
        h1{font-size: 1rem;}
        p{font-size: .825rem; font-weight: normal;}

    }
    div:not(.active):hover{
        background-color: rgba(0, 0, 0, 0.3);
    }
    div.active{
        background-color: white;
        filter: drop-shadow(.2vw .1vw .3vw rgba(0,0,0,0.1));
    }
}
div.full-analysis{display: none;}
div.changed{
    padding: 4vh 2vw;
    background-color: hsl(var(--main-color) / 0.1);
    border-radius: 1vw;
    box-shadow: 0 .1vw .5vw rgba(0,0,0,0.1);
    border: .1rem solid hsl(var(--main-color) /0.15);
}
div.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.trusted{
    margin: 20vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        margin-bottom: 5vh;
        color: hsl(var(--main-color) / 0.6);
    }
    div.trusted-list{
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 1.5vw;
        div{display: flex;align-items: center;}
        img{
            width: 6rem;
            height: auto;
            filter: sepia(.5) grayscale(70%) contrast(1) brightness(0);
            opacity: .6;
        }
    }
}
div.slider-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
    h1{margin-bottom: 4vh; font-size: 2.5rem;}
}
div#sliderInfo{
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p.caption.title-caption{
        font-size: 1.15rem;
        color: hsl(var(--main-color) / 0.9);
        margin-bottom: 3vh;
    }
    div.block-caption h3{
        font-size: 1.55rem;
        font-weight: 500;
    }
}
div.block-caption{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-bottom: 2.5vh;
    div{
        width: 2.5rem; 
        height: 2.5rem; 
        display: flex;
        align-items: center;
        justify-content: center;
        p{color: hsl(var(--button-color))};
    }
}
div.steps{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    span:where(.prev, .next){cursor: pointer;}
    div.slide-content{
        width: 40rem;
        height: 30rem;
        background-color: white;
        border-radius: .5vw;
        box-shadow: 0 .1vw .5vw rgba(0,0,0,0.1);    
        border: .07rem solid hsl(var(--main-color) /0.15);
        display: grid;
        align-items: center;
    }
    span.next svg{transform: rotate(180deg);}
}
div.first-typewriter{
    height: 2.5rem;
}
div.second-typewriter, .third-typewriter{
    height: 5rem;
}
div.content-wrapper{
    *{margin-bottom: 2vh;}
    padding: 3vh 2vw;
    h4{font-size: .85rem; font-weight: 500; letter-spacing: .05rem; margin-bottom: 1vh;}
    h3{font-size: 1.25rem; font-weight: 500; margin-bottom: 1vh;}
    p.caption{font-size: .85rem; font-weight: 400;}
    div.slide-1{
        div{
            border: .1rem solid hsl(var(--main-color) /0.15);
            border-radius: .25vw;
            padding: 1.25vh .75vw;
            margin-bottom: 3vh;
            p.caption{font-size: .75rem; font-weight: 300;}
        }
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            display: inline-block; 
            padding: 1rem .7rem;
            width: 2rem;
            border: .1rem solid hsl(var(--main-color) /0.15);
            border-radius: 2rem;
            margin-right: 1rem;
            text-align: center;
            div{
                color: hsl(var(--main-color) / 0.6);
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .active{
            animation: changeBg .5s 1s ease-in forwards;
        }
    }
    ul.checkbox-list{
        display: flex;
        flex-direction: column;
        li{
            opacity: .5;
            padding: .7rem .7rem;
            display: flex;
            width: 97%;
            height: 2rem;
            border-radius: .5rem;
            margin-bottom: 1vh;
            *{margin: 0; font-size: .85rem;}
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            span.caption{
                background-color: hsl(var(--main-color) / 0.2);
                padding:.3vh .7vw;
                border-radius: 1vw;
                margin-left: auto;
                display: block;
            }
        }
        li > div{width: inherit;}
        li.activate{
            animation: activate .5s ease-in forwards;
            div.checkbox{
                animation: activateCheckbox .5s ease-in forwards;
            }
        }
        li.activate:nth-of-type(1){
            animation-delay: .2s;
            div.checkbox{
                animation-delay: .2s;
            }
        }
        li.activate:nth-of-type(3){
            animation-delay: .9s;
            div.checkbox{
                animation-delay: .9s;
            }
        }
        li.activate:nth-of-type(4){
            animation-delay: 1.6s;
            div.checkbox{
                animation-delay: 1.6s;
            }
        }
    }
    div.slide-5 div.scroll-box{
        max-height: 20rem;
        div.code-box{
            border: .1rem solid hsl(var(--main-color) /0.15);
            padding: 1rem;
            border-radius: 1rem;
            p{
                font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
                white-space: pre-wrap;
                margin: 0 0 1rem 0;
            }
            p:not(.comment){opacity: .6;}
        }
    }
    div.slide-6{
        width: 39.5rem;
        height: 30rem;
        margin: -3vh -2vh;
        h4{
            font-size: 1.15rem; 
            letter-spacing: normal; 
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
        p.sub-header{
            margin-bottom: .2rem;
            font-size: .9rem;
        }
        p.caption{margin: 0; font-size: .85rem !important;}
        ul{
            margin-bottom: 1.5rem;
            list-style:disc !important;
            padding-left: 1rem !important;
            li{
                display: list-item !important;
                border: none !important;
                padding: 0 !important;
                width: fit-content !important;
                text-align: justify !important;
                margin-bottom: 0;
            }
        }
        th,td{
            font-weight: 400;
            font-size: .9rem;
            padding: .8rem 1.2rem;
        }
        td{opacity:.7}
        td span{
            padding: .3rem .4rem;
            border-radius: .2rem;
        }
        span.high{
            color: rgb(134, 0, 0);
            background-color: rgba(255, 31, 31, 0.192);
        }
        span.medium{
            color: rgb(36, 36, 36);
            background-color: rgba(43, 43, 43, 0.192);
        }
        th{text-align: left;}
        tr{
            border-bottom: .1rem solid hsl(var(--main-color) /0.15);
            margin-bottom: 0;
        }
    }
    .margin-1vh{
        margin-bottom: 1vh;
    }
    span.checkbox-wrapper{
        margin-bottom: 2vh;
        display: flex;
        flex-direction: row;
        .checkbox{
            background-color: hsl(var(--main-color));
        }
    }
    div.form, div.input{
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            padding: .8rem 1rem;
            border-radius: .5rem;
            height: 2vh;
            display: flex;
            align-items: center;
        }
        span{
            font-size: .925rem;
            margin: 0;
        }
        div.text-form{
            border: .1rem solid hsl(var(--main-color) /0.15);
            margin-right: .75rem;
        }
    }
    div.form{
        width: 100%;
        div.text-form span{opacity:.35}
        div.email{width:14.5rem;}
        div.role{width: 10rem;}
        div.submit{
            background-color: hsl(var(--main-color) / .2);
            width: 4rem;
            align-items: center;
            justify-content: center;
            span{opacity:1}
        }
    }
    div.input{
        svg{margin: 0 0 0 .5rem; width:24; height:24;}
        div{width: max-content;}
    }
}
div.preview{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    div.preview-button{
        margin-left: auto;
        text-align: center;
        padding: .8rem 1rem;
        border-radius: .5rem;
        height: 2vh;
        background-color: hsl(var(--main-color) / .2);
        align-items: center;
        justify-content: center;
        transition: all .2s ease-in;
        cursor: pointer;
    }
    div.preview-button:hover{
        background-color: hsl(var(--main-color) / .3);
    }
    div, h3{margin-bottom: 0;}
}
div.comment{
    display: block;
    position: relative;
    max-width: 50rem;
    border-radius: 1rem;
    border: .1rem solid hsl(var(--main-color) /0.15);
    box-shadow: 0 .1vw .5vw rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 3rem 6rem;
    margin-bottom: 20vh;
    svg{
        opacity: .5; 
        position: absolute; 
        left: -2rem; 
        top: -2rem; 
        width:3.5rem; 
        height: 3.5rem;
    }
    p.text{
        font-size: 1.375rem;
        margin-bottom: 2rem;
    }
    p.author{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: .7rem;
    }
    p.caption{
        font-size: 1.2rem;
    }
}
div.footer-content{
    max-width: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    table{margin: 2rem 0}
    th,td{
        font-weight: 400;
        font-size: .9rem;
        padding: .8rem 1.2rem;
    }
    td{opacity:.7}
    th{text-align: left; font-size: 1rem; font-weight: 600;}
    tr{margin-bottom: 0;}
    p.copyright{
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}

table{border-collapse: collapse; width: 100%;}
.scroll-box{
    overflow-y: auto;
    overflow-x: hidden;
    h3{font-size: 1.5rem !important; font-weight: 600 !important;}
    p.caption{font-size: 1rem !important; line-height: 1.5rem !important;}
}
.round-span{
    width: 5rem;
    height: 5rem;
    border-radius: 5vw;
    border: none;
    background-color: hsl(var(--main-color));
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        stroke: hsl(var(--button-color));
    }
}
.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: fit-content;
    padding: .8rem 1.8rem;
    border: .1rem solid hsl(var(--main-color) / .2);
    border-radius: 3rem;
    svg{margin:0}
}
.appear{
    animation: appear .5s ease-in forwards;
    opacity:0;
}
.appear-first{animation-delay: .3s;}
.appear-second{animation-delay: 1.7s;}
.checkbox{
    width: 1rem;
    height: 1rem;
    margin-right: .5rem !important;
    border-radius: .2rem;
    margin-bottom: 0 !important;
    border: .15rem solid hsl(var(--main-color) / .2);
}
div.hr{
    height: .05vw;
    background-color: hsl(var(--main-color) / 0.1);
}
.margin-bottom-2rem{margin-bottom: 2rem !important;}

@keyframes changeBg {
    from{
        background-color: white;
        color: hsl(var(--main-color) / 0.6);
    }
    to{
        background-color: hsl(var(--main-color));
        color: hsl(var(--color-for-dark-bg));
    }
}

@keyframes appear {
    from{opacity:0;}
    to{opacity: 1;}
}

@keyframes activate {
    from{opacity:0.5;}
    to{opacity: 1;}
}

@keyframes activateCheckbox {
    from{background-color: none;}
    to{background-color: hsl(var(--main-color));}
}