:root{
    --background: 0 0% 100%;
    --foreground: 315 24% 15%;
    --color1: 25 93% 70%; //orange
    --color2: 51 90% 70%; //yellow
    --color3: 35 90% 70%; //brighter orange
    --rem: 16px;
    --gradient-background: linear-gradient(135deg,
        hsl(var(--color1)),
        hsl(var(--color2)),
        hsl(var(--color3))
    );
    --main-color: 289 25% 15%;
    --main-hover: 289 25% 16%;
    font-size: 16px;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}
*, ::after, ::before{
    margin: 0;
    color: hsl(var(--main-color));
    text-decoration: none;
}
body {
    background-color: hsl(var(--background));
    transition: opacity ease-in 0.2s;
    width: 100vw;
    overflow-x: hidden;
}

/* text */

@font-face {
    font-family: Tartuffo;
    src: url('../fonts/Tartuffo_Trial-Regular-BF643371db1355b.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
.regular{
    font-size: 1.125rem;
}
.small{
    font-size: .875rem;
    opacity: 70%;
    font-weight: 500;
}
.caption{
    font-size: 1.5rem;
    opacity: 70%;
}
h2{
    font-size: 2rem;
}
h1{
    font-size: 4.5rem;
    font-family: Tartuffo, serif;
    font-weight: 400;
}

/* background */
div.background{position: fixed; z-index: -1;}
section{
    background: var(--gradient-background);
    top: 0;
    left: 0;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vw;
    border-radius: 100vw;
    position: absolute;
    filter: blur(0vw);
    transform: scale(2) rotate(0deg);
    transition: all 6s ease-in-out;
}

section.top{animation: bgMove 10s ease-in-out infinite alternate, bgScRot 30s ease-in-out infinite alternate}
section.middle{animation: bgMove 20s ease-in-out infinite alternate, bgScRot 20s ease-in-out infinite alternate, bgBlur 8s ease-in-out infinite alternate}
section.bottom{animation: bgMove 25s ease-in-out infinite alternate, bgScRot 15s ease-in-out infinite alternate, bgBlur 20s ease-in-out infinite alternate}

@keyframes bgMove {
    0% {background-size: 100% 100%;}
    33% {background-size: 200% 200%}
    66% {background-size: 150% 150%}
}
@keyframes bgBlur {
    0% {filter: blur(1vw);}
    10% {filter: blur(0.5vw);}
    30% {filter: blur(10vw);}
    50% {filter: blur(4vw);}
    80% {filter: blur(0.2vw);}
}
@keyframes bgScRot {
    0% {transform: rotate(0deg) scale(2);}
    10% {transform: rotate(-20deg) scale(3);}
    30% {transform: rotate(40deg) scale(1.6);}
    50% {transform: rotate(170deg) scale(4);}
    80% {transform: rotate(220deg) scale(3.3);}
}

/* content */
div.content{
    max-width: 80rem;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10vw;
    font-size: 1.125rem;
    margin-top: 2.5rem;
    width: 100%;
    img{
        height: 3rem;
    }
    div{
        display: grid;
        grid-auto-flow: column;
        gap: 3rem;
    }
    div.helping-links{
        text-align: end;
        align-items: center;
    }
    a.login{
        border: .1rem solid hsl(var(--main-color));
        border-radius: 2rem;
        width: 5rem;
        text-align: center;
        padding: .4rem .1rem;
        font-weight: 500;
    }
    button{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 1.125rem;
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    button:hover{
        cursor: pointer;
    }
}

div.welcome-window{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    div.greeting{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.insights{
        margin-top: 5vh;
        display: grid;
        //grid-auto-flow: column;
        grid-template-columns: repeat(4, auto);
        gap: 2vw;
        div{display: flex; align-items: center; gap: 0.5rem;}
    }
    .caption{
        margin-top: 5vh;
        width: 80%;
    }
}

div.buttons{
    margin-top: 5vh;
    display: flex;
    gap: 1vw;
    button{
        border-radius: 3vw;
        padding: 1vw 2vw;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: .05rem;
        cursor: pointer;
        transition: background-color 0.3s ease-in;
        p{transition: color 0.3s ease-in;}
        svg{transition: stroke 0.3s ease-in;}
    }
    button.try{
        p{color: hsl(60 96% 79%); font-size: 1.125rem; font-weight: 400};
        background-color: hsl(var(--main-color));
    }
    button.try:hover{
        background-color: hsl(var(--main-hover) / .9);
    }
    button.chat{
        p{font-size: 1.125rem; font-weight: 400};
        background: none;
        border: .1rem solid hsl(var(--main-color));
        font-weight: 400;
        svg{margin-right: 1vw;}
    }
    button.chat:hover{
        background-color: black;
        p{color: white};
        svg{stroke: white;}
    }
}

/*slider: template*/
div.reports{margin-top: 5vh;}
div.report-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .4vw;
    div.tab{
        border-radius: .3vw;
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all ease-in-out .3s;
        padding: .5vw 3vw .5vw 1vw;
        text-align:left;
        line-height: 1.2vw;
        h1,p{font-family: Inter, ui-sans-serif, system-ui, sans-serif;}
        h1{font-size: 1rem;}
        p{font-size: .825rem; font-weight: normal;}

    }
    div:not(.active):hover{
        background-color: rgba(0, 0, 0, 0.3);
    }
    div.active{
        background-color: white;
        filter: drop-shadow(.2vw .1vw .3vw rgba(0,0,0,0.1));
    }
}
