<html>
<head>
    <title>Breyta</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="pics/favicon.svg" type="image/svg+xml">
    <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/gpt-engineer-file-uploads/BipQc3308PcZzYRQzAcqfpn0q5a2/uploads/1762265028354-favicon-32x32.png">
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div class="background">
        <section class="top"></section>
        <section class="middle"></section>
        <section class="bottom"></section>
    </div>
    <div class="content">
        <header>
            <div class="header-link">
                <a class="regular" href="#">Pricing</a>
                <a class="regular" href="#">Integrations</a>
                <button id="list">
                    Resources
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m6 9 6 6 6-6"></path>
                    </svg>
                </button>
            </div>
            <img src="images/logo.png" alt="logo" />
            <div class="helping-links">
                <a class="regular" href="#">Free Agents</a>
                <a class="regular login" href="#">Login</a>
            </div>
        </header>
        <div class="welcome-window">
            <div class="greeting">
                <h1>From messy raw data to continuous insights with zero effort.</h1>
                <p class="caption">
                    Our AI agent gathers and analyzes your date and regularly delivers personalised, trustworty
                    outputs in the format you need to you and your stakeholders
                </p>
                <div class="insights">
                    <div class="cur-insight small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big h-4 w-4 text-section-alt-2/80" aria-hidden="true">
                            <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg>
                        <p>SOC 2 Type II</p>
                    </div>
                    <div class="cur-insight small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big h-4 w-4 text-section-alt-2/80" aria-hidden="true">
                            <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg>
                        <p>Data stored in Scandinavia</p></div>
                    <div class="cur-insight small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big h-4 w-4 text-section-alt-2/80" aria-hidden="true">
                            <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg>
                        <p>GDPR</p>
                    </div>
                    <div class="cur-insight small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big h-4 w-4 text-section-alt-2/80" aria-hidden="true">
                            <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg> 
                        <p>No AI training using your data</p>
                    </div>
                </div>
                <div class="buttons">
                    <button class="try">
                        <p>Try it out for free</p>
                    </button>
                    <button class="chat">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle mr-2 h-4 w-4">
                            <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"></path>
                        </svg>
                        <p>Chat with our AI about Breyta</p>
                    </button>
                </div>
            </div>
        
            <div id="app">
                <report-slider></report-slider>
            </div>
        </div>
        <div class="wrapper">
            <div class="trusted">
                <h3>TRUSTED BY LEADING TEAMS</h3>
                <div class="trusted-list">
                    <div class="img-wrapper"><img src="images/bolt.png" alt="bolt logo"/></div>
                    <div class="img-wrapper"><img src="images/dips.png" alt="bolt logo"/></div>
                    <div class="img-wrapper"><img src="images/tietoevry.png" alt="bolt logo"/></div>
                    <div class="img-wrapper"><img src="images/sipgate.svg" alt="bolt logo"/></div>
                    <div class="img-wrapper"><img src="images/unimicro.png" alt="bolt logo"/></div>
                    <div class="img-wrapper"><img src="images/telenor.png" alt="bolt logo"/></div>
                </div>
            </div>
            <div class="slider-wrapper">
                <h1>How it works</h1>
                <div id="sliderInfo">
                    <flow-slider></flow-slider>
                </div>
            </div>
            <div class="comment">
                <p class="text">
                    "It is such a game changer to get all the transcripts and insights in seconds, and to be able 
                    to cross check hypotheses based on many participants. Still by manually checking all the key 
                    findings, we save loads of time by using Breyta. I love seeing Breyta doing the job, and doing 
                    it so well!"
                </p>
                <p class="author">Cecilie Smestad</p>
                <p class="caption">User Experience Consultant at Netlife</p>
            </div>
            <div class="report-info">
                <h1>Custom output — tailored to you and your team</h1>
                <p class="caption">
                    Every report is personalized with your company context in mind. Each subscriber receives 
                    role-specific insights and action items tailored to their responsibilities
                </p>
                <div class="info-list">
                    <div class="info-block"></div>
                    <div class="info-block"></div>
                </div>
            </div>
        </div>
    </div>  

    
<template id="report-slider">
    <div class="reports">
        <div class="report-list">
            <div class="tab" :class="{active: activeIndex === 0}" @click="activeIndex = 0">
                <h1>Product prioritisation</h1>
                <p class="small">Weekly on Mondays at 7am</p>
            </div>
            <div class="tab" :class="{active: activeIndex === 1}" @click="activeIndex = 1">
                <h1>Revenue & Performance</h1>
                <p class="small">Monthly on the 1st at 8am</p>
            </div>
            <div class="tab" :class="{active: activeIndex === 2}" @click="activeIndex = 2">
                <h1>Improve sales pitch</h1>
                <p class="small">Weekly on Wednesdays at 9am</p>
            </div>
        </div>
        <div id="reportContent">
            <div class="report-wrapper">
                <h3>{{ currentReport.title }}</h3>
                <p class="date">{{ currentReport.dateInfoCur }} • Next report: {{ currentReport.dateInfoNext }}</p>
                <p class="analysis-caption">Analyzed {{ currentReport.analyzed}}</p>
            </div>    
            <div class="hr"></div>
            <div class="report-wrapper">
                <div class="keyinsights">
                    <h3>{{ currentReport.insightSubtitle }}</h3>
                    <ul>
                        <li v-for="(item, i) in currentReport.insights" :key="i">
                            <p class="list-title">{{ item.insight }}</p>
                            <span class="list-info">{{ item.insightInfo }}</span>
                        </li>
                    </ul>
                </div>
                <div class="updates">
                    <h3>{{ currentReport.updatesSubtitle }}</h3>
                    <ul>
                        <li v-for="(item, i) in currentReport.updates" :key="i">
                            <p class="list-title">{{ item.update }}</p>
                            <span class="list-info">{{ item.updateInfo }}</span>
                        </li>
                    </ul>
                </div>
                <div class="centered">
                    <a class="open" id="openAnalysis" onclick="openAnalysis()">
                        <svg id="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg>
                        <span id="changeContent">See full analysis</span>
                    </a>
                </div>
            </div>
            <div class="full-analysis" id="fullAnalysis">
                <div class="hr"></div>
                <div class="report-wrapper">
                    <div class="changed">
                        <h3>What's changed</h3>
                        <ul>
                            <li v-for="(item, i) in currentReport.changes" :key="i">
                                <p class="list-title">{{ item.change }}</p>
                                <span class="list-info">{{ item.changeInfo }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="flow-slider">
    <div class="block-caption">
        <div class="round-span">
            <p>{{ currentSlide.slideId }}</p>
        </div>
        <h3>{{ currentSlide.title }}</h3>
    </div>
    <p class="caption title-caption">{{ currentSlide.caption }}</p>
    <div class="steps">
        <span class="round-span prev" @click="activeIndex = (activeIndex - 1 + tabs.length) % tabs.length">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left h-8 w-8 md:h-16 md:w-16 text-cta-button-foreground">
                <path d="m12 19-7-7 7-7"></path>
                <path d="M19 12H5"></path>
            </svg>
        </span>
        <div class="slide-content">
            <div class="content-wrapper">
                <div class="first-slide" v-if="activeIndex === 0">
                    <h4>What should be analyzed?</h4>
                    <div class="first-typewriter">
                        <Typewriter :text="blocks[0]" :start="step >= 1" @done="step=2" />
                    </div>
                    <h4>What is the goal?</h4>
                    <div class="second-typewriter">
                        <Typewriter :text="blocks[1]" :start="step >= 2" @done="step=3" />
                    </div>
                    <h4>Additional context</h4>
                    <div class="third-typewriter">
                        <Typewriter :text="blocks[2]" :start="step >= 3"/>
                    </div>
                </div>

                <div v-if="activeIndex === 1">
                    <h3>Schedule</h3>
                    <p class="caption">How often shall a report be generated</p>
                    <p class="link appear appear-first">
                        Weekly
                        <svg id="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg>
                    </p>
                    <p class="caption">At which day of the week?</p>
                    <ul class="week-list">
                        <li>
                            <div>Mon</div>
                        </li>
                        <li class="active">
                            <div class="active">Tue</div>
                        </li>
                        <li>
                            <div>Wed</div>
                        </li>
                        <li>
                            <div>Thu</div>
                        </li>
                        <li>
                            <div>Fri</div>
                        </li>
                        <li>
                            <div>Sat</div>
                        </li>
                        <li>
                            <div>Sun</div>
                        </li>
                    </ul>
                    <p class="caption">At what time of day? (UTC)</p>
                    <p class="link appear appear-second">
                        10:00
                        <svg id="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg>
                    </p>
                </div>

                <div v-if="activeIndex === 2">
                    <h3>Data filter</h3>
                    <p class="caption margin-1vh">Analyse data from within the...</p>
                    <span class="link">
                        Last 7 days
                        <svg id="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg>
                    </span>
                    <p class="caption">Analyse data from these sources...</p>
                    <ul class="checkbox-list">
                        <li class="activate">
                            <div>
                                <div class="checkbox">
                                    <svg  fill="none" stroke="white" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <p>Support tickets</p>
                                <span class="caption">Jira</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="checkbox"></div>
                                <p>User interviews</p>
                                <span class="caption">Google Drive</span>
                            </div>
                        </li>
                        <li class="activate">
                            <div>
                                <div class="checkbox">
                                    <svg fill="none" stroke="white" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <p>Product usage data</p>
                                <span class="caption">Analytics</span>
                            </div>
                        </li>
                        <li class="activate">
                            <div>
                                <div class="checkbox">
                                    <svg fill="none" stroke="white" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <p>Support</p>
                                <span class="caption">Email Forwards</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div v-if="activeIndex === 3">
                    <h3>Delivery</h3>
                    <span class="checkbox-wrapper">
                        <div class="checkbox">
                            <svg  fill="none" stroke="white" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path>
                            </svg>
                        </div>
                        Send report to email
                    </span>
                    <p class="caption">Send reports to pm-lead@spotify.com</p>
                    <h4>Additional recipients</h4>
                    <p class="caption">Add team members who should receive this report. You can specify their role for context.</p>
                    <div class="form">
                        <div class="text-form email">
                            <span class="caption">Enter email address</span>
                        </div>
                        <div class="text-form role">
                            <span class="caption">Role (optional)</span>
                        </div>
                        <div class="submit">
                            <span class="caption">Add</span>
                        </div>
                    </div>
                    <h4>Additional receipients:</h4>
                    <div class="input">
                        <div class="text-form">
                            <span class="caption">product-team@spotify.com</span>
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </div>
                        <div class="text-form margin-right-0">
                            <span class="caption">spanish-market-lead@spotify.com</span>
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </div>
                    </div>
                    <p class="caption">These email addresses will also receive the report when it's generated.</p>
                </div>

                <div v-if="activeIndex === 4">
                    <div class="scroll-box"></div>
                    <div class="hr"></div>
                    <h3>Preview memo</h3>
                </div>

                <div v-if="activeIndex === 5" class="scroll-box">
                    <p>6</p>
                </div>
            </div>
        </div>
        <span class="round-span next" @click="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left h-8 w-8 md:h-16 md:w-16 text-cta-button-foreground">
                <path d="m12 19-7-7 7-7"></path>
                <path d="M19 12H5"></path>
            </svg>
        </span>   
    </div>
</template>

<template id="typewriter">
    <p class="caption">
        {{ displayedText }}<span v-if="isTyping">|</span>
    </p>
</template>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/vue.js"></script>
<script src="js/script.js"></script>

</body>
</html>