<html>
<head>
    <title>Breyta</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="import" href="report-slider.html">
    <link rel="icon" href="pics/favicon.svg" type="image/svg+xml">
    <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/gpt-engineer-file-uploads/BipQc3308PcZzYRQzAcqfpn0q5a2/uploads/1762265028354-favicon-32x32.png">
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div class="background">
        <section class="top"></section>
        <section class="middle"></section>
        <section class="bottom"></section>
    </div>
    <div class="content">
        <header>
            <div class="header-link">
                <a class="regular" href="#">Pricing</a>
                <a class="regular" href="#">Integrations</a>
                <button id="list">
                    Resources
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m6 9 6 6 6-6"></path>
                    </svg>
                </button>
            </div>
            <img src="images/logo.png" alt="logo" />
            <div class="helping-links">
                <a class="regular" href="#">Free Agents</a>
                <a class="regular login" href="#">Login</a>
            </div>
        </header>
        <div class="welcome-window">
            <div class="greeting">
                <h1>From messy raw data to continuous insights with zero effort.</h1>
                <p class="caption">
                    Our AI agent gathers and analyzes your date and regularly delivers personalised, trustworty
                    outputs in the format you need to you and your stakeholders
                </p>
                <div class="insights">
                    <div class="cur-insight small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big h-4 w-4 text-section-alt-2/80" aria-hidden="true">
                            <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg>
                        <p>SOC 2 Type II</p>
                    </div>
                    <div class="cur-insight small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big h-4 w-4 text-section-alt-2/80" aria-hidden="true">
                            <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg>
                        <p>Data stored in Scandinavia</p></div>
                    <div class="cur-insight small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big h-4 w-4 text-section-alt-2/80" aria-hidden="true">
                            <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg>
                        <p>GDPR</p>
                    </div>
                    <div class="cur-insight small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big h-4 w-4 text-section-alt-2/80" aria-hidden="true">
                            <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg> 
                        <p>No AI training using your data</p>
                    </div>
                </div>
                <div class="buttons">
                    <button class="try">
                        <p>Try it out for free</p>
                    </button>
                    <button class="chat">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle mr-2 h-4 w-4">
                            <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"></path>
                        </svg>
                        <p>Chat with our AI about Breyta</p>
                    </button>
                </div>
            </div>
        
            <div id="app">
                <report-slider></report-slider>
            </div>
        </div>
    </div>  

    
<template id="report-slider">
    <div class="reports">
        <div class="report-list">
            <div class="tab" :class="{active: activeIndex === 0}" @click="activeIndex = 0">
                <h1>Product prioritisation</h1>
                <p class="small">Weekly on Mondays at 7am</p>
            </div>
            <div class="tab" :class="{active: activeIndex === 1}" @click="activeIndex = 1">
                <h1>Revenue & Performance</h1>
                <p class="small">Monthly on the 1st at 8am</p>
            </div>
            <div class="tab" :class="{active: activeIndex === 2}" @click="activeIndex = 2">
                <h1>Improve sales pitch</h1>
                <p class="small">Weekly on Wednesdays at 9am</p>
            </div>
        </div>
        <div id="reportContent">
            <div class="report-wrapper">
                <h3>{{ currentReport.title }}</h3>
                <p class="date">{{ currentReport.dateInfoCur }} • Next report: {{ currentReport.dateInfoNext }}</p>
                <p class="analysis-caption">Analyzed {{ currentReport.analyzed}}</p>
            </div>    
            <div class="hr"></div>
            <div class="report-wrapper">
                <div class="keyinsights">
                    <h3>{{ currentReport.insightSubtitle }}</h3>
                    <ul>
                        <li v-for="(item, i) in currentReport.insights" :key="i">
                            <p class="list-title">{{ item.insight }}</p>
                            <span class="list-info">{{ item.insightInfo }}</span>
                        </li>
                    </ul>
                </div>
                <div class="updates">
                    <h3>{{ currentReport.updatesSubtitle }}</h3>
                    <ul>
                        <li v-for="(item, i) in currentReport.updates" :key="i">
                            <p class="list-title">{{ item.update }}</p>
                            <span class="list-info">{{ item.updateInfo }}</span>
                        </li>
                    </ul>
                </div>
                <a class="open-more" onclick="changeVisibility()">See full analysis</a>
                <div class="full-analysis">
                    <div class="changed">
                        <ul>
                            <li v-for="(item, i) in currentReport.changes" :key="i">
                                <p class="list-title">{{ item.change }}</p>
                                <span class="list-info">{{ item.changeInfo }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/vue.js"></script>
<script src="js/script.js"></script>

</body>
</html>